.dail-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,#9E1B20,#cc3336);
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.popup-holder{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 600;
}
@media(max-width:900px){
    .dail-section{
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 3fr;
    }
}