.navigation{
    position:absolute;
    z-index: 500;
    display: flex;
    width: 93%;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid white;
    transform: translateX(3.5%);
}
.link{
    text-decoration: none;
    color:white;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 4px;
}
.logo{
    font-weight: 700;
    flex-grow: 1;
    font-size: 1.5rem;
}
.left{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.left a{
    padding-left: 5rem;
}
.navigation span a:hover{
    color: #5A97B3;
}
@media(max-width:500px){
    .logo{
        font-size: 1rem;
    }
    .link{
        font-size: 1rem;
    }
}
@media(max-width:750px){
    .navigation span a:hover{
        color: #9E1B20;
    }
}